<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.liz.neuroscale.android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <!--<uses-permission android:name="android.permission.WRITE_SETTINGS"/>-->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <application
        android:name="com.liz.neuroscale.android.CustomApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo_qusp"
        android:label="@string/app_name">
        <!-- android:supportsRtl="true" -->
        <activity
            android:name="com.liz.neuroscale.android.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/MaterialDrawerTheme.Light.DarkToolbar.TranslucentStatus"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.ConfigureActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"/>
        <activity android:name=".activities.PublishActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"/>
        <activity android:name=".activities.SubscribeActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"/>
    </application>

</manifest>
